<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GioPika</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<a href="/miyagi/tantra">Tantra</a>
<table id="hui">
    <tr>
        <th>Life turn to hell when I'm turning around</th>
    </tr>
    <tr>
        <th>My hands in the air and I pray for you loud</th>
    </tr>
    <tr>
        <th>Show me the truth and show me the lie</th>
    </tr>
    <tr>
        <th>Mind over there, one of stars in the sky</th>
    </tr>
</table>
</body>
</html>