<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colors</title>
    <link href="lesson17.css">
</head>
<body>
<a href="/miyagi/tantra?a=Artur&b=Dzhanaev">Tantra</a>
<br>
<a href="/miyagi/try?a=Artur&b=Dzhanaev">Try</a>
<br>
<table id="colors">
    <tr>
        <th>It's time to use my colors, in my my head</th>
    </tr>
    <tr>
        <th>I feel like the war is going insane</th>
    </tr>
    <tr>
        <th>Now it's a day, I'm so ashamed</th>
    </tr>
    <tr>
        <th>Of the person I was, or the person I am</th>
    </tr>
</table>
</body>
</html>